##            1) How-to-count-distance-to-the-previous-zero  

           For each value, count the difference of the distance from the previous zero (or the start  
          of the Series, whichever is closer)  and if there are no previous zeros,print the position   

             Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}  

            â€‹The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.  

           import pandas as pd  

          df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [1]:
import pandas as pd
df=pd.DataFrame({'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})      # creating a dataframe
output=[]
flag="none"                                                # Flag variable to store the index of zero value. default is None
for index,val in df.iterrows():                            # Looping through each row in data frame
    if(int(val)==0):
        flag=index                                         # Flag variable to store the index of zero value
        output.append(int(val))                            # storing the value
    else:
        if(flag=="none"):
            output.append(int(index)+1)                    # there are no previous zeros, so adding the position
        else:
            output.append(int(index)-int(flag))            # difference of the distance from the previous zero 
print("output of differneces ",output)
df["Y"]=output
print("\nData Frame:")
df

output of differneces  [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

Data Frame:

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

## 2) Create a  DatetimeIndex that contains each  business day of 2015 and use it to index a         Series of random numbers.

In [2]:
import pandas as pd                                                                # Importing pandas and random
import random
df2=pd.DatetimeIndex(start='01-01-2015',end='12-31-2015',freq='b',dayfirst=True)   # creating datetimeindex
randomdata=random.sample(range(10000),len(df2))                                    # generating the random variables
s=pd.Series(data=randomdata,index=df2)                                             # Generating the series
print(s)

2015-01-01    9107
2015-01-02    3891
2015-01-05    9121
2015-01-06    6575
2015-01-07    3705
2015-01-08     984
2015-01-09    2867
2015-01-12    7502
2015-01-13    1491
2015-01-14    1219
2015-01-15    3083
2015-01-16    9798
2015-01-19    8953
2015-01-20    5564
2015-01-21    6414
2015-01-22    3951
2015-01-23    4166
2015-01-26    7622
2015-01-27    3381
2015-01-28    5444
2015-01-29    1868
2015-01-30    5806
2015-02-02    8664
2015-02-03    1183
2015-02-04     210
2015-02-05    5019
2015-02-06    1040
2015-02-09    4204
2015-02-10     226
2015-02-11    6746
              ...
2015-11-20    4311
2015-11-23    1458
2015-11-24    4405
2015-11-25      71
2015-11-26    8305
2015-11-27    5225
2015-11-30     468
2015-12-01    9617
2015-12-02    7651
2015-12-03    7211
2015-12-04    7979
2015-12-07    8736
2015-12-08    3581
2015-12-09     742
2015-12-10    3538
2015-12-11     759
2015-12-14    5449
2015-12-15    9729
2015-12-16    9389
2015-12-17    5631
2015-12-18    8550
2015-12-21    8843
2015-12-22    8864
2015-12-23    4948
2015-12-24    9125
2015-12-25    6992
2015-12-28    6029
2015-12-29    4764
2015-12-30    1865
2015-12-31    5965
Freq: B, Length: 261, dtype: int64

## 3) Find the sum of the values in s for every Wednesday

In [3]:
s[df2.dayofweek==2].sum()       # calculating the sum of values using the dayofweek method

232118

In [4]:
s[df2.weekday == 2].sum()       # calculating the sum of values using the Weekday method

232118

## 4) Average For each calendar month

In [5]:
 s.resample('M').mean()     # calculating the average of every month

2015-01-31    5114.181818
2015-02-28    4827.700000
2015-03-31    5488.636364
2015-04-30    4874.136364
2015-05-31    4229.571429
2015-06-30    5222.318182
2015-07-31    5003.956522
2015-08-31    4945.619048
2015-09-30    5966.045455
2015-10-31    5131.454545
2015-11-30    3918.666667
2015-12-31    6345.956522
Freq: M, dtype: float64

## 5)  For each group of four consecutive calendar  months  in s, find the date on which the  highest value occurred.

In [6]:
s.groupby(pd.TimeGrouper('4M')).idxmax()  # Grouping by 4 consecutive months and displaying the date of highest value

C:\Users\Satish\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-16
2015-05-31   2015-02-13
2015-09-30   2015-09-30
2016-01-31   2015-10-06
dtype: datetime64[ns]

In [7]:
s.groupby(pd.Grouper(freq='4M')).idxmax()  # Grouping by 4 consecutive months and displaying the date of highest value

2015-01-31   2015-01-16
2015-05-31   2015-02-13
2015-09-30   2015-09-30
2016-01-31   2015-10-06
dtype: datetime64[ns]